{% extends 'base.html.twig' %}
{% block body %}
    <div class="RICARDO">
<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="{{ asset('build/RicardoSmile.jpeg') }}">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Ricardo Dev Web</h3>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Né le 01/05/1990</time></p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>Je cherche une alternance dans le milieu du développement Web, mes compétences sont toutes en 3 lettres</p>
        <h4>Hard Skills</h4>
        <p>Le Html mais pas le CSS</p><br>
        <p>Le J c'est pas le S</p>
    </div>
    <div class="uk-card-footer">
        <a href="#" class="uk-button uk-button-text">Contact me</a>
    </div>
</div>
    </div>
{% endblock %}
